h1 {
  text-align: center;
}

.navBar{
  background-color: #333;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navBar a{
  display: inline-block;
  padding: 10px;
  color:white;
  text-decoration: none;
}

.navBar li{
  display: inline;
}
/* CSS Styling for Lakes/Rivers page*/
.mainImageLakeRiver img{
  float:left;
  padding-top: 5%;
}

.lake1Container{
  width: 45%;
  height: 150px;
  float: right;
  margin-top: 5%;
  margin-right: 10%;
}

.lake1Image{
  width:150px;
  height: 150px;
  background-color: grey;
  float: left;
  text-align: center;
}


.lake1Content{
  width:500px;
  height: 150px;
  background-color: grey;
  text-align: center;
  float:right;
  margin-right: 10%;
}

.lake2Container{
  width: 45%;
  height: 150px;
  float: right;
  margin-top: 1%;
  margin-right: 10%;
}

.lake2Image{
  width:150px;
  height: 150px;
  background-color: grey;
  float: left;
  text-align: center;
}


.lake2Content{
  width:500px;
  height: 150px;
  background-color: grey;
  text-align: center;
  float:right;
  margin-right: 10%;
}

.lake3Container{
  width: 45%;
  height: 150px;
  float: right;
  margin-top: 1%;
  margin-right: 10%;
}

.lake3Image{
  width:150px;
  height: 150px;
  background-color: grey;
  float: left;
  text-align: center;
}


.lake3Content{
  width:500px;
  height: 150px;
  background-color: grey;
  text-align: center;
  float:right;
  margin-right: 10%;
}
/*End of styling for lakes/Rivers Page

Start of styling for Fish Page*/

.mainImageFish img{
  float:left;
  padding-top: 5%;
}

.fish1Container{
  width: 45%;
  height: 150px;
  float: right;
  margin-top: 5%;
  margin-right: 10%;
}

.fish1Image{
  width:150px;
  height: 150px;
  background-color: grey;
  float: left;
  text-align: center;
}


.fish1Content{
  width:500px;
  height: 150px;
  background-color: grey;
  text-align: center;
  float:right;
  margin-right: 10%;
}

.fish2Container{
  width: 45%;
  height: 150px;
  float: right;
  margin-top: 1%;
  margin-right: 10%;
}

.fish2Image{
  width:150px;
  height: 150px;
  background-color: grey;
  float: left;
  text-align: center;
}


.fish2Content{
  width:500px;
  height: 150px;
  background-color: grey;
  text-align: center;
  float:right;
  margin-right: 10%;
}

.fish3Container{
  width: 45%;
  height: 150px;
  float: right;
  margin-top: 1%;
  margin-right: 10%;
}

.fish3Image{
  width:150px;
  height: 150px;
  background-color: grey;
  float: left;
  text-align: center;
}


.fish3Content{
  width:500px;
  height: 150px;
  background-color: grey;
  text-align: center;
  float:right;
  margin-right: 10%;
}
/* End of styling for Fish page
   Start of styling for Fun Facts page*/

.mainImageFunFacts img{
  float:right;
  padding-top: 5%;
}

.fish-search {
  clear: both;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}

.fish-search-details {
  border: 1px solid black;
  text-align: left;
}

.fish-search-details li {
  list-style: none;
}
