h1 {
  text-align: center;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar a {
  display: inline-block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.navbar li {
  display: inline;
}

/* CSS Styling for the Home page */
#welcome {
  color: white;
  background-color: #333;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 37%;
  margin-right: 37%;
}

#home-img {
  width: 100%;
}

#about-tfn-head {
  color: white;
  background-color: #333;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 37%;
  margin-right: 37%;
}

#about-tfn-text {
  color: white;
  background-color: #333;
  padding: 1% 2%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 125%;
}

/* End of styling for the Home Page 
 
CSS Styling for Lakes/Rivers page */

.mainimagelakeriver img {
  width: 100%;
  float: left;
  padding-top: 5%;
  padding-bottom: 5%;
}

.lake-1-container {
  width: 45%;
  height: 150px;
  float: right;
  margin-top: 5%;
  margin-right: 10%;
}

.lake-1-image {
  width: 150px;
  height: 150px;
  background-color: grey;
  float: left;
  text-align: center;
}

.lake-1-content {
  width: 500px;
  height: 150px;
  background-color: grey;
  text-align: center;
  float: right;
  margin-right: 10%;
}

.lake-2-container {
  width: 45%;
  height: 150px;
  float: right;
  margin-top: 1%;
  margin-right: 10%;
}

.lake-2-image {
  width: 150px;
  height: 150px;
  background-color: grey;
  float: left;
  text-align: center;
}

.lake-2-content {
  width: 500px;
  height: 150px;
  background-color: grey;
  text-align: center;
  float: right;
  margin-right: 10%;
}

.lake-3-container {
  width: 45%;
  height: 150px;
  float: right;
  margin-top: 1%;
  margin-right: 10%;
}

.lake-3-image {
  width: 150px;
  height: 150px;
  background-color: grey;
  float: left;
  text-align: center;
}

.lake-3-content {
  width: 500px;
  height: 150px;
  background-color: grey;
  text-align: center;
  float: right;
  margin-right: 10%;
}

#weather {
  display: none;
  height: fit-content;
  width: fit-content;
  text-transform: capitalize;
  text-align: center;
  background-color: rgb(136 209 252);
  box-shadow: 0 4px 8px 0 rgba(0 0 0 / 20%);
  transition: 0.3s;
  border-radius: 5px;
  list-style-type: none;
}

.temp-span {
  display: inline-block;
  padding: 0 10px;
}

/* Add some padding inside the card container */
.city-temp {
  padding: 2px 16px;
  background-color: #fff;
}

.city-temp h4,
.icon-weather h5 {
  display: inline-block;
  padding: 0 10px;
}

#btn-refresh {
  display: none;
}

/* End of styling for lakes/Rivers Page

Start of styling for Fish Page */

.main-image-fish img {
  float: left;
  padding-top: 5%;
}

.fish-1-container {
  width: 45%;
  height: 150px;
  float: right;
  margin-top: 5%;
  margin-right: 10%;
}

.fish-1-image {
  width: 150px;
  height: 150px;
  background-color: grey;
  float: left;
  text-align: center;
}

.fish-1-content {
  width: 500px;
  height: 150px;
  background-color: grey;
  text-align: center;
  float: right;
  margin-right: 10%;
}

.fish-2-container {
  width: 45%;
  height: 150px;
  float: right;
  margin-top: 1%;
  margin-right: 10%;
}

.fish-2-image {
  width: 150px;
  height: 150px;
  background-color: grey;
  float: left;
  text-align: center;
}

.fish-2-content {
  width: 500px;
  height: 150px;
  background-color: grey;
  text-align: center;
  float: right;
  margin-right: 10%;
}

.fish-3-container {
  width: 45%;
  height: 150px;
  float: right;
  margin-top: 1%;
  margin-right: 10%;
}

.fish-3-image {
  width: 150px;
  height: 150px;
  background-color: grey;
  float: left;
  text-align: center;
}

.fish-3-content {
  width: 500px;
  height: 150px;
  background-color: grey;
  text-align: center;
  float: right;
  margin-right: 10%;
}

/* End of styling for Fish page
   Start of styling for Fun Facts page */

.main-image-fun-facts img {
  float: right;
  padding-top: 5%;
}

.fact-1-container {
  width: 45%;
  height: 150px;
  float: left;
  margin-top: 5%;
  margin-left: 10%;
}

.fact-1-image {
  width: 150px;
  height: 150px;
  background-color: grey;
  float: left;
  text-align: center;
}

.fact-1-content {
  width: 500px;
  height: 150px;
  background-color: grey;
  text-align: center;
  float: left;
  margin-left: 10%;
}

.fact-2-container {
  width: 45%;
  height: 150px;
  float: left;
  margin-top: 1%;
  margin-left: 10%;
}

.fact-2-image {
  width: 150px;
  height: 150px;
  background-color: grey;
  float: left;
  text-align: center;
}

.fact-2-content {
  width: 500px;
  height: 150px;
  background-color: grey;
  text-align: center;
  float: left;
  margin-left: 10%;
}

.fact-3-container {
  width: 45%;
  height: 150px;
  float: left;
  margin-top: 1%;
  margin-left: 10%;
}

.fact-3-image {
  width: 150px;
  height: 150px;
  background-color: grey;
  float: left;
  text-align: center;
}

.fact-3-content {
  width: 500px;
  height: 150px;
  background-color: grey;
  text-align: center;
  float: left;
  margin-left: 10%;
}

/* End of fun facts styling
   Start of resource styling */

.resource-list h2 {
  text-align: center;
}

.resource-list p {
  text-align: center;
  font-style: italic;
}

.resource-list ul {
  list-style-type: none;
  text-align: center;
}

.resource-list a {
  text-decoration: none;
}

.water {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.resource-list a:hover {
  text-decoration: underline;
}

/* End of resource styling */

.fish-search {
  clear: both;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}

.fish-search-details {
  border: 1px solid black;
  text-align: left;
}

.fish-search-details li {
  list-style: none;
}

.navbar a:hover {
  font-size: larger;
}
